<?xml version="1.0" encoding="utf-8"?>
<!--suppress DeprecatedClassUsageInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elikaaccess">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.UPDATE_DEVICE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_namee"
        android:supportsRtl="true"
        android:name=".application.MyApp"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning" >
        <activity
            android:name="com.elikaaccess.Splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.elikaaccess.ActivitySetupElika"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elikaaccess.ActivitySelectDevice"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elikaaccess.ActivitySetupWizard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elikaaccess.ActivityConnectingWifi"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.elikaaccess.ActivityWifiConnectStatus"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.elikaaccess.ActivitySearchLocalWifi"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="45441b1b4d13e814e26fb1e88f8720629f9ec665" />
    </application>

</manifest>
